/*--UserField--*/
.user_shortName{
    line-height: 34px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #475466;
    letter-spacing: 0;
}

.user_shortName:hover{
    color: #1CA1C1 !important;
}

img {
  vertical-align: middle;
  border-style: none;
}

.user_avatar{
    margin-right: 12px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    right: 8px;
    top: 8px;
    background: rgba(228, 230, 240, 0.8);
    color: #94a1b3;
    border-radius: 50%;
    overflow: hidden;
}

.user_avatar:hover{
    box-shadow: #1CA1C1 0 0 2px 2px;
}

.user_menu_items{
    line-height: 34px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #475466;
    letter-spacing: 0;
}

.webix_view.webix_window.webix_popup.webix_menu a{
    color: #475466 !important;
}

.webix_view.webix_window.webix_popup.webix_menu a:hover{
    color: #1CA1C1 !important;
}

/*--MenuDESIGN--*/

.my_menubar {
    background-color: #4A4E58;
    border-right: 1px;
    border-color: #4A4E58;
    color: #FFFFFF;
}

.webix_badge {
    margin: 9px 0 0 12px !important;
}

.my_menubar_item {
    background-color: #4A4E58 !important;
    line-height: 40px;
    border-color: #4A4E58 !important;
    color: #FFFFFF !important;
}

.my_menubar_item:hover {
    background-color: #373a42 !important;
    color: #FFFFFF !important;
}

.webix_list_item .webix_icon {
    margin-right: 12px !important;
}

body {margin: 0}
.boldLabel {
    font-weight: bold; border-width: 2px; border-style: solid; border-color: #000000;
}

/* CHIPS */

.chip {
    display: inline-block;
    height: 32px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px;
}

.chip:focus {
    outline: none;
    background-color: #1CA1C1;
    color: #fff;
}

.chip > img {
    float: left;
    margin: 0 8px 0 -12px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.chip .close {
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
}

.webix_list-x .webix_list_item {
    margin: 5px 0 0 12px;
}

/* DATAVIEWS */

.contacts .webix_dataview_item, .contacts .webix_dataview_item.webix_selected{
    padding: 5px 3px;
    border-color: #fff;
    background-image:none;
    background-color:#fff;
}
.contacts .webix_dataview_item.webix_selected .overall{
    background: #e1e4ea;
}

.overall{
    position: relative;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 8px;
    height: 65px;
    padding: 10px;
    color: #303030;
    text-shadow: 0 1px 0 #FFFFFF;
    background-color: #654141;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#edeff4), color-stop(1, #e1e4ea));
    background: -o-linear-gradient(top, #edeff4 0% , #e1e4ea 100%);
    background: -ms-linear-gradient(top, #edeff4 0% , #e1e4ea 100%);
    background: -moz-linear-gradient(top, #edeff4 0% , #e1e4ea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#edeff4), color-stop(1, #e1e4ea));
    box-shadow: 0 1px 1px #d4d7de;
}

.contactPerson{
    line-height: 20px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #475466;
    letter-spacing: 0;
    height:40px;
    float: left;
    padding-left: 5px;
    width: 200px;
}

.contactValue{
    position:absolute;
    padding-left: 5px;
    /*white-space: normal !important;*/
    width: 100%;
    text-align:left;
    top: 60%
}

.doc_title{
    left: 80px;
    position:absolute;
    line-height: 20px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #475466;
    letter-spacing: 0;
    height:40px;
    float: left;
    padding-left: 5px;
    width: 100%;
}

.doc_time_create{
    position: absolute;
    padding-left: 5px;
    left: 80px;
    /*white-space: normal !important;*/
    width: 100%;
    top: 40%;
    text-align:left;
}

.download_docs{
    position: absolute;
    left: 80px;
    padding-left: 5px;
    width: 100%;
    top: 65%;
}

@media only screen and (min-width: 759px) {
    .webix_dataview_item {
        float: left !important;
    }
}
@media only screen and (max-width: 759px) {
    .webix_dataview_item {
        float: inherit !important;
    }
}

/* LOGIN REGISTRATION PAGES */
.myClass .webix_button{
    background: #475466; color: #FFFFFF;
}

.myClass .webix_button:hover {
    background-color: #586980;
}

.myClass .webix_button:focus {
    background-color: #586980;
}

.contacts .webix_dataview_item.webix_selected .overallRequestNew{
    background: #a7d9ff;
}

.overallRequestNew{
    position: relative;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 8px;
    height: 65px;
    padding: 10px;
    color: #303030;
    text-shadow: 0 1px 0 #FFFFFF;
    background-color: #654141;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#edeff4), color-stop(1, #e1e4ea));
    background: -o-linear-gradient(top, #edeff4 0% , #e1e4ea 100%);
    background: -ms-linear-gradient(top, #edeff4 0% , #e1e4ea 100%);
    background: -moz-linear-gradient(top, #edeff4 0% , #e1e4ea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#edeff4), color-stop(1, #e1e4ea));
    box-shadow: 0 1px 1px #d4d7de;
}

.webix_list_item.my_menubar_item.webix_selected {
  background-color: #373a42 !important;
  /*box-shadow: inset 2px 0 #1CA1C1;*/
}

.topMenuIcon .webix_icon:before{
    color: #1992af;" +
    font-size: 1.5rem;
}

.styleIcon .webix_icon:before{
    color: #147187;
}

.prescription_accepted {
    background-color: #d4f9ff;
}

.prescription_non_accepted {
    background-color: #fff2f4;
}

.blinking {
  -webkit-animation: blinking 2s infinite;
  }
  @-webkit-keyframes blinking {
  0% {
  opacity:0;
  box-shadow: 0 0 3px transparent;
  }
  50% {
  opacity:1;
  box-shadow: 0 0 10px 3px transparent;
  }
  100% {
  opacity:0;
  box-shadow: 0 0 3px transparent;
  }
}

.backBtnStyle button.webix_button{
  background-color: transparent;
}

/*BS FILTER & DROPDOWN*/

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin: 5px 12px 12px 12px;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.dropdown-menu {
    transform: translate3d(0,-2px,0) !important;
}

.dropdown-menu.show {
    border: 1px solid transparent !important;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
}

.btn:focus, .btn.focus:focus {
    box-shadow: none !important;
}

.btn-filter {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;

    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
}

.filter-func-btn {
    display: flex !important;
    background: transparent !important;
    color: #212529 !important;
    margin-left: 12px !important;
}

.filter-func-btn:last-child {
    margin-left: 0px !important;
}

.filter-data {
    background: rgba(1,1,1,0.05) !important;
}

.filter-func-btn > i {
    padding: 4px 0 0 6px !important;
}

.filter-func-btn:hover {
    background: rgba(1,1,1,0.05) !important;
}

.btn-group .btn {
    border-radius: 0.25rem !important;
}

.dropdown-menu {
    z-index: 100 !important;
}