spring.datasource.username=postgres
spring.datasource.password=postgres
jpa.properties.database-platform=org.hibernate.dialect.PostgreSQL11Dialect

spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true

spring.thymeleaf.render-hidden-markers-before-checkboxes=true

spring.servlet.multipart.max-file-size=400MB
spring.servlet.multipart.max-request-size=400MB

server.port=8090

spring.jpa.show-sql=false

upload.path=uploads
upload_xls.path=uploads_xls

spring.mail.properties.mail.smtp.starttls.enable=false

link.prefix=http://fs.govrb.ru/
link.suffix=

logging.level.org.springframework=DEBUG
logging.level.ru.sibdigital.proccovid = DEBUG
logging.file.path=./proccovid-logs