/* DATAVIEWS */

.contacts .webix_dataview_item, .contacts .webix_dataview_item.webix_selected{
    padding: 5px 3px;
    border-color: #fff;
    background-image:none;
    background-color:#fff;
}
.contacts .webix_dataview_item.webix_selected .overall{
    background: #e1e4ea;
}

.overall{
    position: relative;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 8px;
    height: 65px;
    padding: 10px;
    color: #303030;
    text-shadow: 0 1px 0 #FFFFFF;
    background-color: #654141;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#edeff4), color-stop(1, #e1e4ea));
    background: -o-linear-gradient(top, #edeff4 0% , #e1e4ea 100%);
    background: -ms-linear-gradient(top, #edeff4 0% , #e1e4ea 100%);
    background: -moz-linear-gradient(top, #edeff4 0% , #e1e4ea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#edeff4), color-stop(1, #e1e4ea));
    box-shadow: 0 1px 1px #d4d7de;
}

.contactPerson{
    line-height: 20px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #475466;
    letter-spacing: 0;
    height:40px;
    float: left;
    padding-left: 5px;
    width: 200px;
}

.contactValue{
    position:absolute;
    padding-left: 5px;
    /*white-space: normal !important;*/
    width: 100%;
    text-align:left;
    top: 60%
}