<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/libs/webix.min.css}" type="text/css">
    <script th:src="@{/libs/webix.min.js}" type="text/javascript"></script>
    <title th:utext="${application_name}"></title>
</head>
<body>
<div id="login"></div>
<!--<div th:text="${message}" style="color: red;"></div>-->


<script th:inline="javascript">
    const APPLICATION_NAME = [[${application_name}]]
    let message = [[${message}]] || ''

    console.log(message)

    webix.html.addStyle(".myClass .webix_button{  background: #475466; color: #FFFFFF;} .myClass .webix_button:hover {background-color: #586980;}");

    webix.ui(
        {
            type: "form",
            css: {
                "background": "#ccd7e6 !important" //#323B55"#ccd7e6
            },
            rows: [
                {
                    gravity: 0.9,
                },
                {
                    view: "align",
                    align: "middle,center",
                    body: {
                        cols: [
                            {

                                margin: 0,
                                padding: {
                                    top: 55, bottom: 25
                                },
                                width: 400,
                                css: {
                                    "background": "#475466 !important" //#2b334a
                                },
                                rows: [
                                    {
                                        view: "label",
                                        height: 200,
                                        align: "center",
                                        template: "<img src = \"../logo.png\">"
                                    },
                                    {
                                        view: "label",
                                        label: `<span style="font-size: 1.5rem; color: #ccd7e6">Добро пожаловать!</span>`,
                                        height: 50,
                                        align: "center"
                                    },
                                    {
                                        view: "label",
                                        label: `<span style="font-size: 1rem; color: #fff6f6">Информационная система</span>`,
                                        height: 50,
                                        align: "center"
                                    },
                                    {
                                        view: "label",
                                        label: `<span style="font-size: 1rem; color: #fff6f6">${APPLICATION_NAME}</span>`,
                                        height: 50,
                                        align: "center"
                                    },
                                    {
                                        view: "label",
                                        label: `<span style="font-size: 0.8rem; color: #fff6f6">©2020</span>`,
                                        height: 50,
                                        align: "center"
                                    },
                                ]

                            },
                            {
                                container: 'login',
                                view: "form",
                                align: 'center',
                                id: "log_form",
                                width: 350,
                                autoheight: true,
                                elements: [
                                    {},
                                    {
                                        view:"label",
                                        label:`<span style="font-size: 1.1rem; color: #6e6e6e">Вход</span>`
                                    },
                                    {view: "text", placeholder: "Имя пользователя", name: "username"},
                                    {
                                        view: "text",
                                        type: "password",
                                        placeholder: "Пароль",
                                        name: "password",
                                    },
                                    {
                                        cols: [
                                            {
                                                margin: 5, cols: [
                                                    {view: "button", value: "Войти",width: 100, css: "myClass", click: submit},
                                                    //{ view:"button", value:"Cancel"}
                                                ]
                                            },
                                            {
                                                view: 'label',
                                                id: 'lbl',
                                                align: 'center',
                                                label: '<a href="recovery" style="color: #6e6e6e">Не могу войти</a>'
                                            }
                                        ]
                                    },
                                    {}
                            ]
                        },
                        {}
                    ]
                    }
                },
                {}
        ]
    });
    function submit(){
        //webix.message(JSON.stringify($$("log_form").getValues(), null, 2));
        webix.send("perform_outer_login", $$("log_form").getValues());
    }
</script>
</body>
</html>
