<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cтатиcтика организаций по актуальным заявкам</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!-- Compiled and minified JavaScript -->

    <link type="text/css" rel="stylesheet" th:href="@{/js/}">
    <script th:src="@{/libs/webix.min.js}"></script>


    <script th:src="@{/libs/popper.min.js}"></script>
    <script th:src="@{/libs/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/libs/bootstrap.min.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/libs/webix.min.css}">
    <script th:src="@{/libs/webix.min.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div th:insert="~{navbar-bootstrap::frag ('Актуализация по организациям.', ${application_name})}"></div>
<div id="chart-dep">

</div>
<div class="container">
    <div class="row my-2 justify-content-center">
        <div class="col-8">
            <div class="table-responsive-sm">
                <table class=" table" id="totalTable">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center" style="width: 70%"></th>
                        <th scope="col" class="text-center" style="width: 30%">Заявки</th>
                    </tr>
                    </thead>

                    <tbody id="totalBody">

                    </tbody>
                    <span class="text-center" style="display:none" id="noResults">Нет результатов</span>
                </table>

                <table class=" table" id="totalWorkerTable">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center" style="width: 40%">В актуализированных</th>
                        <th scope="col" class="text-center" style="width: 30%">Количество</th>
                        <th scope="col" class="text-center" style="width: 30%">Процент</th>
                    </tr>
                    </thead>

                    <tbody id="totalWorkerBody">

                    </tbody>
                    <span class="text-center" style="display:none" id="noWorkerResults">Нет результатов</span>
                </table>


            </div>
        </div>
    </div>
    <div class="dropdown-divider"></div>

</div>

<script th:inline="javascript">

    const totalStatistic = [[${actualOrganizationsStatistic}]]
    const totalWorkersStatistic = [[${actualNumberWorkerOrganizationsStatistic}]]

    function insertRow(firstCol, secondCol, cssClass=""){
        const html = `<tr>
            <td class="${cssClass}"> ${ firstCol } </td>
            <td class="${cssClass}"> ${ secondCol } </td>
        </tr>`;

        $("#totalBody").append(html);
    }

    function insertSecondRow(firstCol, secondCol, thirdCol, cssClass=""){
        const html = `<tr>
            <td class="${cssClass}"> ${ firstCol } </td>
            <td class="${cssClass}"> ${ secondCol } </td>
            <td class="${cssClass}"> ${ thirdCol } </td>
        </tr>`;

        $("#totalWorkerBody").append(html);
    }

    let totalActual = totalStatistic.count_actual, totalNotActual = totalStatistic.count_not_actual;
    let total = totalActual + totalNotActual;
    insertRow("Всего ", total, "text-center font-weight-bold");
    insertRow("Всего актуализировано", totalActual, "text-center font-weight-bold");
    insertRow("Всего не актуализировано", totalNotActual, "text-center font-weight-bold");


    let totalActualWorkersOffice = totalWorkersStatistic.count_office, totalActualWorkersRemote = totalWorkersStatistic.count_remote;
    let totalWorkers = totalActualWorkersOffice + totalActualWorkersRemote;
    const totalActualWorkersOfficePercent = totalActualWorkersOffice * 100 / totalWorkers, totalActualWorkersRemotePercent = totalActualWorkersRemote * 100 / totalWorkers;
    insertSecondRow("Всего работников", totalWorkers, "100%", "text-center font-weight-bold");
    insertSecondRow("Работников в офисе", totalActualWorkersOffice, Math.round(totalActualWorkersOfficePercent) + "%", "text-center font-weight-bold");
    insertSecondRow("Работников на удаленной", totalActualWorkersRemote, Math.round(totalActualWorkersRemotePercent) + "%", "text-center font-weight-bold");


    chartData = {
        actualStatistic: [
            { value:totalActual, legend:"актуальные", color: "#ee3639" },
            { value:totalNotActual, legend:"не актуальные", color: "#ee9e36" },
        ],
        workerStatistic: [
            { value: totalActualWorkersOffice, legend:"В офисе", color: "#ee3639" },
            { value: totalActualWorkersRemote, legend:"На удаленной", color: "#ee9e36" },
        ]
    }

    webix.ready(function() {
        webix.ui({
            container: 'chart-dep',
            width: document.body.clientWidth,
            type:'clean',
            // height:250,
            rows: [
                {
                    rows:[
                        {
                            template:"<div style='width:100%; font-weight: bold; text-align:center'>Заявки</div>",
                            height:30
                        },
                        {
                            height:250,
                            view: "chart",
                            // css: "test",
                            type:"pie",
                            value:"#value#",
                            color:"#color#",
                            label:"#legend#",
                            pieInnerText:"#value#",
                            shadow:0,
                            data:chartData.actualStatistic
                        },
                        {
                            template:`<div style='width:100%;text-align:center'>Всего: ${total}</div>`,
                            height:30
                        },
                    ]
                },
                {
                    rows:[
                        {
                            template:"<div style='width:100%; font-weight: bold; text-align:center'>Работников в актуальных заявках</div>",
                            height:30
                        },
                        {
                            height: 250,
                            view: "chart",
                            type:"pie",
                            value:"#value#",
                            color:"#color#",
                            label:"#legend#",
                            pieInnerText:"#value#",
                            shadow:0,
                            data:chartData.workerStatistic
                        },
                        {
                            template:`<div style='width:100%;text-align:center'>Всего: ${totalWorkers}</div>`,
                            height:30
                        },
                    ]
                }

            ]
        })
    });

</script>

</body>
</html>
