<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:utext="${application_name}"></title>
    <link type="text/css" rel="stylesheet" th:href="@{/libs/webix.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/libs/all.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/admin/admin.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/filter.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/libs/webix.min.js}"></script>
    <script th:src="@{/libs/routie.min.js}"></script>
    <script th:src="@{/libs/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/libs/nicedit/nicEdit.js}"></script>
    <script th:src="@{/js/editor/nicedit.js}"></script>
    <script th:src="@{/libs/ace/ace.js}"></script>
    <script th:src="@{/libs/popper.min.js}"></script>
    <script th:src="@{/libs/bootstrap.min.js}"></script>
    <script th:src="@{/js/editor/ace.js}"></script>
    <script th:src="@{/js/views/department_contacts.js}"></script>
</head>
<body>
<script th:inline="javascript">
    const ID_DEPARTMENT = [[${id_department}]]
    const DEPARTMENT = [[${department_name}]]
    const USER_NAME = [[${user_lastname + " " + user_firstname}]]
</script>
<script th:src="@{/js/user/newPassword.js}"></script>
<script th:src="@{/js/admin/admin.js}"></script>
<script th:src="@{/js/admin/departments.js}"></script>
<script th:src="@{/js/admin/departmentUsers.js}"></script>
<script th:src="@{/js/admin/fias.js}"></script>
<script th:src="@{/js/admin/help.js}"></script>
<script th:src="@{/js/admin/mailing.js}"></script>
<script th:src="@{/js/admin/mailingMessages.js}"></script>
<script th:src="@{/js/admin/news.js}"></script>
<script th:src="@{/js/admin/okveds.js}"></script>
<script th:src="@{/js/admin/organizations.js}"></script>
<script th:src="@{/js/admin/principals.js}"></script>
<script th:src="@{/js/admin/requests.js}"></script>
<script th:src="@{/js/admin/restrictionTypes.js}"></script>
<script th:src="@{/js/admin/statistic.js}"></script>
<script th:src="@{/js/admin/templates.js}"></script>
<script th:src="@{/js/admin/typeRequests.js}"></script>
<script th:src="@{/js/admin/prescriptions.js}"></script>
<script th:src="@{/js/admin/typeViolations.js}"></script>
<script th:src="@{/js/admin/violationSearchQueries.js}"></script>
<script th:src="@{/js/admin/personViolationSearchQueries.js}"></script>
<script th:src="@{/js/admin/controlAuthority.js}"></script>
<script th:src="@{/js/utils/backButton.js}"></script>
<script th:src="@{/js/utils/violationsFilter.js}"></script>
<script th:src="@{/js/utils/okvedTree.js}"></script>
<script th:src="@{/js/reports/inspectionReport.js}"></script>
<script th:src="@{/js/reports/inspectionCountReport.js}"></script>
<script th:src="@{/js/reports/remoteCntReport.js}"></script>
<script th:src="@{/js/reports/remoteCntWithOkvedsReport.js}"></script>
</body>
</html>
