<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:utext="${application_name}"></title>
    <link type="text/css" rel="stylesheet" th:href="@{/libs/webix.min.css}">
    <script th:src="@{/libs/webix.min.js}"></script>
    <script th:src="@{/libs/routie.min.js}"></script>
    <script th:src="@{/libs/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/libs/nicedit/nicEdit.js}"></script>
    <script th:src="@{/js/editor/nicedit.js}"></script>
    <script th:src="@{/libs/ace/ace.js}"></script>
    <script th:src="@{/js/editor/ace.js}"></script>
</head>
<body>
<script th:src="@{/js/admin.js}"></script>
</body>
</html>
