<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Общая статитика</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!-- Compiled and minified JavaScript -->

    <link type="text/css" rel="stylesheet" th:href="@{/js/}">
    <script th:src="@{/libs/webix.min.js}"></script>


    <script th:src="@{/libs/popper.min.js}"></script>
    <script th:src="@{/libs/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/libs/moment-with-locales.min.js}"></script>
    <script th:src="@{/libs/bootstrap.min.js}"></script>
    <script th:src="@{/libs/bootstrap-datetimepicker.min.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/libs/webix.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap-datetimepicker.min.css}">
    <script th:src="@{/libs/webix.min.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style type="text/css">
        .activecustom {
            color: #000000;
        }
        .align-nav-items-center {
            display: flex;
            width: 100%;
            text-align: center;
            justify-content: center;
        }
        .a-href-nav {
            margin-right: 2px;
            font-size: 110%;
        }
        tr {
            line-height: 15px;
            min-height: 15px;
            height: 15px;
        }
        .table td, .table th {
            padding: .20rem;
        }
    </style>
</head>
<body>

<div th:insert="~{navbar-bootstrap::frag ('Статистика.', ${application_name})}"></div>
<div id="chart-dep">

</div>
<div class="container-fluid">
    <div class="row my-2 justify-content-center">
        <div class="col-8">
            <div class="table-responsive-sm">
                <table class="table" id="filterTable">
                    <tbody id="filterTableBody">
                    <tr>
                        <td>Начало периода</td>
                        <td><input type="text" class="form-control" id="dateBeginPicker"/></td>
                        <td>Конец периода</td>
                        <td><input type="text" class="form-control" id="dateEndPicker"/></td>
                        <td><button type="button" class="btn btn-primary" id="fetchDataBtn">Обновить</button></td>
                    <tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row my-2 justify-content-center">
        <div class="col-8">
            <div class="table-responsive-sm">
                <table class="table" id="pokazatTable">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center" style="width: 70%">Значение</th>
                        <th scope="col" class="text-center" style="width: 30%">Показатель</th>
                    </tr>
                    </thead>
                    <tbody id="pokazat">
                    </tbody>
                    <span class="text-center" style="display:none" id="noResults">Нет результатов</span>
                </table>
            </div>
        </div>
    </div>
    <div class="row my-2 justify-content-center">
        <div class="col-8">
            <div class="table-responsive-sm">
                <table class="table" id="totalTable">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center" style="width: 70%"></th>
                        <th scope="col" class="text-center" style="width: 30%">Заявки</th>
                    </tr>
                    </thead>

                    <tbody id="totalBody">

                    </tbody>
                    <span class="text-center" style="display:none" id="noResults">Нет результатов</span>
                </table>
            </div>
        </div>
    </div>
    <div class="dropdown-divider"></div>

    <div class="row my-2 justify-content-center">
        <div class="col-8">
            <div class="table-responsive-sm">
                <table class="table" id="depTable">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center" style="width: 68%">ИОГВ</th>
                        <th scope="col" class="text-center" style="width: 8%">Ожидают</th>
                        <th scope="col" class="text-center" style="width: 8%">Утверждено</th>
                        <th scope="col" class="text-center" style="width: 8%">Отклонено</th>
                        <th scope="col" class="text-center" style="width: 8%">Всего</th>
                    </tr>
                    </thead>

                    <tbody id="depBody">

                    </tbody>
                    <span class="text-center" style="display:none" id="noResults1">Нет результатов</span>
                </table>
            </div>
        </div>
    </div>

</div>

<script th:inline="javascript">

    function initDatePicker() {
        $('#dateBeginPicker').datetimepicker({
            locale: 'ru',
            format: 'DD.MM.YYYY',

        });
        $('#dateEndPicker').datetimepicker({
            locale: 'ru',
            format: 'DD.MM.YYYY',
        });

        $('#fetchDataBtn').bind('click', fetchData);
    }

    function fetchData() {
        var url = window.location.href;
        var qs = url.indexOf('?');
        if (qs > -1){
            url = url.substr(0, qs);
        }
        var dateBegin = $('#dateBeginPicker').val();
        var dateEnd = $('#dateEndPicker').val();
        url += "?dateBegin=" + (dateBegin != '' ? dateBegin : '') + "&dateEnd=" + (dateEnd != '' ? dateEnd : '');
        window.location.href = url;
    }

    $(document).ready(function(){

        initDatePicker();

        $('#totalTable').after('<div id="nav" class="align-nav-items-center"></div>');
        var rowsShown = 12;
        var rowsTotal = $('#totalBody tr').length;
        var numPages = rowsTotal/rowsShown;
        for(i = 0;i < numPages;i++) {
            var pageNum = i + 1;
            $('#nav').append('<a href="#" rel="'+i+'" class="a-href-nav">'+pageNum+ '    ' + '</a> ');
        }
        $('#totalBody tr').hide();
        $('#totalBody tr').slice(0, rowsShown).show();
        $('#nav a:first').addClass('activecustom');
        $('#nav a').bind('click', function(evt){
            $('#nav a').removeClass('activecustom');
            $(this).addClass('activecustom');
            var currPage = $(this).attr('rel');
            var startItem = currPage * rowsShown;
            var endItem = startItem + rowsShown;
            $('#totalTable tbody tr').css('opacity','0.0').hide().slice(startItem, endItem).
            css('display','table-row').animate({opacity:1}, 300);
            evt.preventDefault();
        });
    });

    const totalStatistic = [[${totalStatistic}]];
    const departmentStatistic = [[${departmentStatistic}]];

    let countOrganizationOfConsentDataProcessing = totalStatistic.countOrganizationOfConsentDataProcessing.count_organization;
    let countOrganizationOfRegPersonCount = totalStatistic.countOrganizationOfRegPersonCount.count_organization;

    let total = 0

    const dtf = new Intl.DateTimeFormat('ru', { year: 'numeric', month: '2-digit', day: '2-digit' })

    function formatDate(date) {
        const [{ value: mo },,{ value: da },,{ value: ye }] = dtf.formatToParts(date)
        return `${mo}.${da}.${ye}`
    }

    function insertRow(selector, firstCol, secondCol, cssClass=""){
        const html = `<tr>
            <td class="${cssClass}"> ${ firstCol } </td>
            <td class="${cssClass}"> ${ secondCol } </td>
        </tr>`;

        $(selector).append(html);
    }

    totalStatistic.peopleStatistic.total = totalStatistic.peopleStatistic.accepted + totalStatistic.peopleStatistic.declined + totalStatistic.peopleStatistic.awaiting;
    insertRow("#totalBody", "Всего людей в утвержденных заявках", totalStatistic.peopleStatistic.accepted, "text-center font-weight-bold");
    insertRow("#totalBody", "Всего людей в заявках", totalStatistic.peopleStatistic.total, "text-center font-weight-bold");

    for (let i = 0; i < totalStatistic.forEachDayStatistic.length; i++) {

        total += totalStatistic.forEachDayStatistic[i].total
        totalStatistic.forEachDayStatistic[i].date = new Date(totalStatistic.forEachDayStatistic[i].date.replace('T', ' '))
        if(totalStatistic.forEachDayStatistic[i].date ){

        }
        insertRow("#totalBody", "За " + formatDate(totalStatistic.forEachDayStatistic[i].date), totalStatistic.forEachDayStatistic[i].total, "text-center")
    }

    insertRow("#totalBody", 'ВСЕГО ЗАЯВОК', total, "text-center font-weight-bold")
    let totalAwaiting = 0, totalAccepted = 0, totalDeclined = 0;
    function insertSecondRow(name, awaiting, accepted, declined, cssClass=""){
        const totalInARow = awaiting + accepted + declined;
        totalAwaiting += awaiting;
        totalAccepted += accepted;
        totalDeclined += declined;

        const html = `
            <tr>
                <td class="${cssClass}"> ${ name } </td>
                <td class="${cssClass}"> ${ awaiting } </td>
                <td class="${cssClass}"> ${ accepted } </td>
                <td class="${cssClass}"> ${ declined } </td>
                <td class="text-center font-weight-bold"> ${ totalInARow } </td>
            </tr>
        `;
        $("#depBody").append(html);
    }

    for (let i = 0; i < departmentStatistic.length; i++) {
        const totalInARow = departmentStatistic[i].awaiting + departmentStatistic[i].accepted + departmentStatistic[i].declined;
        if (totalInARow != 0) {
            insertSecondRow(departmentStatistic[i].name, departmentStatistic[i].awaiting, departmentStatistic[i].accepted, departmentStatistic[i].declined, "text-center");
        }
    }

    chartData = {
        depStatistic: [
            { value:totalDeclined, legend:"Отказано", color: "#ee3639" },
            { value:totalAwaiting, legend:"Ожидают", color: "#ee9e36" },
            { value:totalAccepted, legend:"Утвердили", color: "#a9ee36" },
        ],
        personStatistic: [
            { value:totalStatistic.peopleStatistic.declined, legend:"Отклонено", color: "#ee3639" },
            { value:totalStatistic.peopleStatistic.awaiting, legend:"Новые", color: "#ee9e36" },
            { value:totalStatistic.peopleStatistic.accepted, legend:"Утверждено", color: "#a9ee36" },
        ]
    }

    insertRow("#pokazat", "Новые заявки",totalAwaiting, "text-center");
    insertRow("#pokazat", "Утвержденные заявки", totalAccepted, "text-center");
    insertRow("#pokazat", "Отклоненные заявки", totalDeclined, "text-center");
    insertRow("#pokazat", "Всего заявок", total, "text-center font-weight-bold");
    insertRow("#pokazat", "Активировало личный кабинет", countOrganizationOfConsentDataProcessing, "text-center");
    insertRow("#pokazat", "Подало информацию о работниках на удаленке", countOrganizationOfRegPersonCount, "text-center");

    webix.ready(function() {
        webix.ui({
            container: 'chart-dep',
            width: document.body.clientWidth,
            type:'clean',
            // height:250,
            rows: [
                    {
                        rows:[
                            {
                                template:"<div style='width:100%; font-weight: bold; text-align:center'>Заявки</div>",
                                height:30
                            },
                            {
                                height:250,
                                view: "chart",
                                // css: "test",
                                type:"pie",
                                value:"#value#",
                                color:"#color#",
                                label:"#legend#",
                                pieInnerText:"#value#",
                                shadow:0,
                                data:chartData.depStatistic
                            },
                        ]
                    },
                    {
                        // rows:[
                        //     {
                        //         template:"<div style='width:100%; font-weight: bold; text-align:center'>Люди</div>",
                        //         height:30
                        //     },
                        //     {
                        //         height: 250,
                        //         view: "chart",
                        //         type:"pie",
                        //         value:"#value#",
                        //         color:"#color#",
                        //         label:"#legend#",
                        //         pieInnerText:"#value#",
                        //         shadow:0,
                        //         data:chartData.personStatistic
                        //     },
                        //     {
                        //         template:`<div style='width:100%;text-align:center'>Всего: ${totalStatistic.peopleStatistic.total}</div>`,
                        //         height:30
                        //     },
                        // ]
                        // Новые: ${totalAwaiting}
                        // Утверждено: ${totalAccepted}
                        // Отклонено: ${totalDeclined}
                        // Всего: ${total}

                    }
            ]
        })
    });

</script>

</body>
</html>
