<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Работающая Бурятия</title>
    <link type="text/css" rel="stylesheet" href="/libs/webix.min.css">
    <script src="/libs/webix.min.js"></script>
    <script th:src="@{/js/views/showform-view.js}"></script>
    <style>body {margin: 0}</style>
</head>
<body>
    <div id="app"></div>
    <script th:inline="javascript">
        const ID = [[${doc_request_id}]];
        const LINK_PREFIX = [[${link_prefix}]]
        const LINK_SUFFIX = [[${link_suffix}]]
    </script>
</body>
</html>